**Name :Suraj Sanjeev Pawar**

**Registration ID :GO-WTP-1839**

**Task-3 : Prediction using Supervised Machine Learning using Simple Linear Regression with missing values**

***In this task we have to Predict Salary of the Student depends on Experience of Student,Written Test and Interview round marks based of three feature.This problem can be solved by using Regression libraries and task is given by Goeduhub Technologies as Online Winter training in Machine Learning using Python.***

***Importing  required libraries***

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

***Importing the Dataset***

In [ ]:
df=pd.read_csv("recruit.csv")
df

  Experience  Test  Interview  Salary
0        NaN   8.0          9   50000
1        two  10.0         10   65000
2        NaN   8.0          6   45000
3       five   6.0          7   60000
4      seven   9.0          6   70000
5     eleven   7.0          8   80000
6        ten   NaN          7   72000
7      three   7.0         10   62000

***NaN replace with zero using fillna***

In [ ]:
df['Experience']=df['Experience'].fillna("zero")
print(df)

  Experience  Test  Interview  Salary
0       zero   8.0          9   50000
1        two  10.0         10   65000
2       zero   8.0          6   45000
3       five   6.0          7   60000
4      seven   9.0          6   70000
5     eleven   7.0          8   80000
6        ten   NaN          7   72000
7      three   7.0         10   62000

***NaN replace with 0 using fillna***

In [ ]:
df['Test']=df['Test'].fillna(0)
print(df)

  Experience  Test  Interview  Salary
0       zero   8.0          9   50000
1        two  10.0         10   65000
2       zero   8.0          6   45000
3       five   6.0          7   60000
4      seven   9.0          6   70000
5     eleven   7.0          8   80000
6        ten   0.0          7   72000
7      three   7.0         10   62000

***Install word2number library***

In [ ]:
!pip install word2number

Collecting word2number
  Downloading https://files.pythonhosted.org/packages/4a/29/a31940c848521f0725f0df6b25dca8917f13a2025b0e8fcbe5d0457e45e6/word2number-1.1.zip
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-cp36-none-any.whl size=5588 sha256=92d3d97e1cfd5af6ab8944bf8735d0c292b3e491bc30a08c847fd4df69f9ed0d
  Stored in directory: /root/.cache/pip/wheels/46/2f/53/5f5c1d275492f2fce1cdab9a9bb12d49286dead829a4078e0e
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

***Convert Words into Number in Experience Field***

In [ ]:
from word2number import w2n
df['Experience']=df['Experience'].apply(w2n.word_to_num)
df

   Experience  Test  Interview  Salary
0           0   8.0          9   50000
1           2  10.0         10   65000
2           0   8.0          6   45000
3           5   6.0          7   60000
4           7   9.0          6   70000
5          11   7.0          8   80000
6          10   0.0          7   72000
7           3   7.0         10   62000

***Convert Word to Number using word2number***

In [ ]:
from sklearn import linear_model
result=linear_model.LinearRegression()
result.fit(df[['Experience','Test','Interview']],df.Salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

***Find Coefficient***

In [ ]:
result.coef_

array([3077.8642085 ,  999.7856246 , 2118.48834717])

***Find Intercept***

In [ ]:
result.intercept_

24823.523106605804

***take an input such as 6,7 and 8***

In [ ]:
result.predict([[6,7,8]])

array([67237.11450709])

***Y= m1 * (Experience) + m2 * (Test) + m3 * (Interview) + c where m1,m2,m3 are coefficient and Experience,Test and Interview are independent variables(features)***

***Predict the output by puting Experience =6,Test=7 and Interview=8***

In [ ]:
3077.8642085*6+ 999.7856246*7+2118.48834717*8+24823.523106605804

67237.11450716581

***Thank you Goeduhub Techonologies***